<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tracker</title>
    <style>
        .text-center{
            text-align: center;
        }
        .link{
            margin: 0 10px;
            font-weight: bold;
        }
    </style>
</head>

<div class="container">
    <h1 class="text-center">ACTIVITY TRACKER APPLICATION</h1>
    <hr />
    <h2 class="text-center">The only tool you need to 10X your productivity!</h2>
    <hr />
    <h4>
        Do you find yourself constantly struggling to stay focused and be productive throughout the day?
        <br><br>
        As an entrepreneur or software engineer, your time is your most valuable asset, and wasting it can mean the difference between success and failure.

        But fear not – there's a solution that can help you get on track and take control of your productivity.
        <br><br>
        Tracking your activity is crucial for entrepreneurs and software engineers because it allows them to monitor their progress and stay on track with their goals.

        By tracking their activity, they can identify areas where they are wasting time and make adjustments to their workflow to increase their productivity.

        <br><br>
        Here are some ways tracking your activity can help:
                <br><br>

                1. Identifying Time Wasters: Tracking your activity can help you identify areas where you are wasting time. This could be spending too much time on social media, checking email too frequently, or getting sidetracked by non-essential tasks.

        By identifying these time wasters, you can take steps to eliminate them and focus on the tasks that will help you achieve your goals.
         <br><br>
                2. Motivation and Accountability: Tracking your activity can also help you stay motivated and accountable. When you see your progress over time,

        it can be a great motivator to keep going. Additionally, tracking your activity can help you stay accountable to yourself and your goals.
         <br><br>
                3. Planning and Prioritization: Tracking your activity can also help you with planning and prioritization.

        By tracking your time, you can see how much time you are spending on different tasks and prioritize accordingly.

        This can help you make the most of your time and focus on the tasks that will have the biggest impact.
       <br><br>
                4. Continuous Improvement: Finally, tracking your activity can help you with continuous improvement.

        By monitoring your progress over time, you can see where you have improved and where you still need to make changes.

        This can help you adjust your workflow and improve your productivity over time.
       <br><br>
        Sign up or log in to our Activity Tracker app today, and start monitoring your daily tasks and habits to become a more efficient and productive version of yourself.
        <br>
        Don't let your precious time go to waste – take charge of your productivity and achieve your goals faster than ever before.

    </h4>
</div>
<body>
<div class="text-center">
<a href="/registration" class="link">Register</a>
<a href="/login" class="link">Login</a>
    </div>
</body>
</html>